<%- include('partials/header') %>


<h1 class="inviheader"> <%= content.title  %> at <%= content.timing  %>  </h1>



<h2 class="text"><%= content.article  %></h2>






<%- include('partials/footer') %>
